= link_to 'Add New Slide', new_cms_admin_carousel_carousel_slide_path(@carousel), :class => 'btn btn-primary pull-right'

.page-header
  %h2 Slides

%ul.list.sortable
  - @slides.each do |slide|
    %li{:id => "carousel_slide_#{slide.id}"}
      .item
        .icon
          .dragger
            %span order
        .action_links.pull-right
          = link_to 'Edit', edit_cms_admin_carousel_carousel_slide_path(@carousel, slide), :class => 'btn'
          = link_to 'Delete', cms_admin_carousel_carousel_slide_path(@carousel, slide), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'
        .label.pull-left
          = link_to slide.label, edit_cms_admin_carousel_carousel_slide_path(@carousel, slide)