= link_to 'Add New Slide', new_admin_carousel_carousel_slide_path(@carousel), :class => 'btn btn-primary'

.page-header
  %h2 Slides

%ul.list.sortable
  - @slides.each do |slide|
    %li{:id => "carousel_slide_#{slide.id}"}
      .item
        .icon
          .dragger
            %span order
        .action_links
          = link_to 'Edit', edit_admin_carousel_carousel_slide_path(@carousel, slide), :class => 'btn'
          = link_to 'Delete', admin_carousel_carousel_slide_path(@carousel, slide), :method => :delete, :confirm => 'Are you sure?', :class => 'btn'
        .label
          = link_to slide.label, edit_admin_carousel_carousel_slide_path(@carousel, slide)