<%= link_to 'Add New Slide', new_admin_carousel_carousel_slide_path(@carousel), :class => 'big button' %>

<h1>Slides</h1>

<ul class='list sortable'>
  <% @slides.each do |slide| %>
    <li id='carousel_slide_<%= slide.id %>'>
      <div class='item'>
        <div class='icon'>
          <div class='dragger'><span>order</span></div>
        </div>
        <div class='action_links'>
          <%= link_to 'Edit', edit_admin_carousel_carousel_slide_path(@carousel, slide) %>
          <%= link_to 'Delete', admin_carousel_carousel_slide_path(@carousel, slide), :method => :delete, :confirm => 'Are you sure?' %>
        </div>
        <div class='label'>
          <%= link_to slide.label, edit_admin_carousel_carousel_slide_path(@carousel, slide) %>
        </div>
      </div>
    </li>
  <% end %>
</ul>