= link_to 'Add New Carousel', new_admin_carousel_carousel_path, :class => 'btn btn-primary pull-right'

.page-header
  %h1 Carousels

%table.table.table-bordered.table-hover
  %tr
    %th Label
    %th Identifier
    %th Slides
    %th Actions
  - @carousels.each do |carousel|
    %tr
      %td
        = link_to carousel.label, admin_carousel_carousel_slides_path(carousel)
      %td
        = carousel.identifier
        - if carousel.dimensions.present?
          %span.label
            = "[#{carousel.dimensions}]"
      %td
        = link_to pluralize(carousel.slides.count, 'Slide'), admin_carousel_carousel_slides_path(carousel), :class => 'btn btn-inverse'
      %td
        = link_to 'Edit', edit_admin_carousel_carousel_path(carousel), :class => 'btn'
        = link_to 'Delete', admin_carousel_carousel_path(carousel), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'
